h1 {
    font-weight: 800;
    font-size: 250%;
    text-align: center;
    text-shadow:5px 2px 4px yellow; /*тень*/
    font-family: 'Source Sans Pro', sans-serif;
}

p { 
    font-family: 'Ubuntu', sans-serif;
} 

.red {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:none;
    color:red;
}

h2 {
    font-family: 'Noto Serif', serif;
    word-spacing:2px;
    letter-spacing: 3px;
    font-size:200%;
    text-decoration: underline;
}

#begin {
    text-indent:20px;
}

#begin::selection {
    background-color:red;
    color:white;
}


#name {
    font-style: italic;
    font-weight: 900;
}

#new {
    box-shadow: 30px 30px 30px 30px grey;
    -moz-box-shadow:30px 30px 30px 30px grey;
    -webkit-box-shadow:30px 30px 30px 30px grey;
    opacity: 0.9;
}

#begin::first-line {
    text-decoration: line-through;
}

.red:hover {
    color:grey;
    background-color: lawngreen;
    text-decoration:underline;
}

a.red:visited {
    color:black;
    font-style: italic;
    
}