body {
    background-color: #DCDCD3;
}
#knopka {
    border:5px solid black;
    padding:10px;
    border-width:1px;
    height: 45px;
    width: 90px;
    text-decoration:none;
    color:black;
    float:left;
    position:fixed;
    background-color: white;
    top:300px;

}

p {
   margin-left: 150px;
}
